<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                <%= gravatar_for current_user %>

                <h1><%= current_user.name %></h1>
                <%= current_user.email %>

                <hr>
                <div class="row">
                    <div class="col">
                        <h5><%= link_to current_user.microposts.count, current_user %></h5>
                        <small>microposts</small>
                    </div>
                    <div class="col">
                        <h5><%= link_to current_user.active_relationships.count, following_user_path(current_user) %></h5>
                        <small>following</small>
                    </div>
                    <div class="col">
                        <h5><%= link_to current_user.passive_relationships.count, followers_user_path(current_user) %></h5>
                        <small>followers</small>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <%= form_for(@micropost) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="form-group">
                        <%= f.text_area :content, class: "form-control", placeholder: "Share your thoughts..." %>
                    </div>
                    <div class="form-group">
                        <%= f.file_field :picture, class: "mt-2" %> <%# Field for image upload %>
                    </div>
                    <div class="mt-3">
                        <%= f.submit "Post", class: "btn btn-primary btn-block"%>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2>Feed</h2>
                <hr>
                
                <% if @microposts.any? %>
                    <!-- rendering a collection: micropost/_micropost.html.erb -->
                    <ul class="list-unstyled">
                        <%= render @microposts %>
                    </ul>
                <% else %>
                    <div class="text-muted">Nothing to show</div>
                <% end %>
            </div>

            <div class="card-footer paginate text-center">
                <%= will_paginate @microposts if @microposts.any? %>
            </div>
        </div>
    </div>
</div>